@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PretendardR";
  font-style: normal;
  src: url("../fonts/Pretendard-Regular.subset.woff");
}

@font-face {
  font-family: "PretendardM";
  font-style: normal;
  src: url("../fonts/Pretendard-Medium.subset.woff");
}

@font-face {
  font-family: "PretendardB";
  font-style: normal;
  src: url("../fonts/Pretendard-Bold.subset.woff");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #f6f5f5;
  font-family: "PretendardR";
}
