@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PretendardR";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PretendardVariable.woff2");
}

@font-face {
  font-family: "PretendardM";
  font-style: normal;
  src: url("../fonts/Pretendard-Medium.subset.woff");
}

@font-face {
  font-family: "PretendardB";
  font-style: normal;
  src: url("../fonts/Pretendard-Bold.subset.woff");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: PretendardR, -apple-system, sans-serif !important;
}

input, textarea {
  -webkit-appearance: none;
}

/*토스트 알림*/
.Toastify__toast {
  font-size: .825rem
}
